{% extends 'dashboard_base.html' %}
{% block dashboard_content %}
{% load i18n %}
<div class="w-full max-w-4xl mx-auto p-8">
    <h1 class="text-2xl font-bold mb-4">{% trans 'Create a new ticket' %}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label class="form-control mb-2">
            {{ form.category.errors }}
            <div class="label">
                <span for="{{ form.category.id_for_label }}" class="label-text font-semibold text-base-content">{% trans 'Category' %}</span>
                </div>
            {{ form.category }}
        </label>
        <label class="form-control mb-2">
            {{ form.title.errors }}
            <div class="label">
                <span for="{{ form.title.id_for_label }}" class="label-text font-semibold text-base-content">{% trans 'Title' %}</span>
            </div>
            {{ form.title }}
        </label>
        <label class="form-control mb-2">
            {{ form.description.errors }}
            <div class="label">
                <span for="{{ form.description.id_for_label }}" class="label-text font-semibold text-base-content">{% trans 'Description' %}</span>
            </div>
            {{ form.description }}
        </label>

        <label class="form-control mb-2">
            {{ form.attachments.errors }}
            <div class="label">
                <span for="{{ form.attachments.id_for_label }}" class="label-text font-semibold text-base-content">{% trans 'Attachments' %}</span>
            </div>
            {{ form.attachments }}
        </label>

        {% if has_closed_tickets %}
        <label class="form-control mb-2">
            {{ form.follow_up_to.errors }}
            <div class="label">
                <span for="{{ form.follow_up_to.id_for_label }}" class="label-text font-semibold text-base-content">{% trans 'Create as follow-up to a closed ticket' %}</span>
                </div>
            {{ form.follow_up_to }}
        </label>
        {% endif %}
        
        <div class="flex justify-end items-center mt-4">
            <button type="submit" class="btn btn-success">{% trans 'Create Ticket' %}</button>
        </div>
    </form>
</div>
{% endblock %}