{% extends 'dashboard_base.html' %}
{% block dashboard_content %}
{% load i18n %}
<div class="w-full max-w-4xl mx-auto p-8">
    <h1 class="text-2xl font-bold mb-4">{% trans 'Create a new ticket' %}</h1>
    <form action="" method="post" class="flex flex-col gap-2" enctype="multipart/form-data" x-data="{ submitting: false }" @submit="submitting = true">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset class="fieldset">
            {{ form.category.errors }}
            <legend class="fieldset-legend">{% trans 'Category' %}</legend>
            {{ form.category }}
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend">{% trans 'Title' %}</legend>
            {{ form.title }}
            {% if form.title.errors %}
            <div class="text-error">{{ form.title.errors }}</div>
            {% endif %}
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">{% trans 'Description' %}</legend>
            {{ form.description }}
            {% if form.description.errors %}
            <div class="text-error">{{ form.description.errors }}</div>
            {% endif %}
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">{% trans 'Attachments' %}</legend>
            {{ form.attachments }}
            {% if form.attachments.errors %}
            <div class="text-error">{{ form.attachments.errors }}</div>
            {% endif %}
        </fieldset>

        {% if has_closed_tickets %}
        <fieldset class="fieldset">
            <legend class="fieldset-legend">{% trans 'Create as follow-up to a closed ticket' %}</legend>
            {{ form.follow_up_to }}
            {% if form.follow_up_to.errors %}
            <div class="text-error">{{ form.follow_up_to.errors }}</div>
            {% endif %}
        </fieldset>
        {% endif %}
        
        <div class="flex justify-end items-center mt-4">
            <button type="submit" class="btn btn-success" :disabled="submitting">
                <span class="loading loading-ring loading-md" x-show="submitting"></span>
                {% trans 'Create Ticket' %}
            </button>
        </div>
    </form>
</div>
{% endblock %}