{% extends 'dashboard_base.html' %}
{% block dashboard_content %}
<div class="w-full p-8">
    <div class="stats bg-base-200 mb-10">
        <div class="stat">
            <div class="stat-figure text-success">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-10 h-10 stroke-current" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M12 11l0 6" /><path d="M9 14l6 0" /></svg>
            </div>
            <div class="stat-title">Open Tickets</div>
            <div class="stat-value">{{ open_tickets.count }}</div>
        </div>
        
        <div class="stat">
            <div class="stat-figure text-warning">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-10 h-10 stroke-current" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M12 17v.01" /><path d="M12 14a1.5 1.5 0 1 0 -1.14 -2.474" /></svg>
            </div>
            <div class="stat-title">Progressing Tickets</div>
            <div class="stat-value">{{ in_progress_tickets.count }}</div>
        </div>
        
        <div class="stat">
            <div class="stat-figure text-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-10 h-10 stroke-current" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2zm-7 -7h.01m3.99 0h.01" /><path d="M10 17a3.5 3.5 0 0 0 4 0" /></svg>
            </div>
            <div class="stat-title">Completed Tickets</div>
            <div class="stat-value">{{ closed_tickets.count }}</div>
        </div>
    </div>

    <table class="table w-full">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
          <tr>
            <td>#{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td><div class="badge badge-neutral">{{ ticket.category }}</div></td>
            <td>
              {% include 'partials/ticket_status_badge.html' with ticket=ticket %}
            </td>
            <td><a href="{% url 'ticket_detail' ticket.id %}" class="btn btn-xs btn-accent">View</a></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}