{% block attendee_login %}
{% load i18n %}
<form method="post" action="/fbl/auth_start">
    {% csrf_token %}

    {% if fbl_auth_form.non_field_errors %}
    <div role="alert" class="alert alert-error mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block stroke-current shrink-0 h-6 w-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10l4 4m0 -4l-4 4" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
      <span>{{ fbl_auth_form.non_field_errors }}</span>
    </div>
    {% endif %}
    
    <div>
      <label class="label">
          <span class="text-base label-text" for="{{ fbl_auth_form.username.id_for_label }}">{% trans 'Badge Number' %}</span>
      </label>
      <input type="number" name="badge_number" placeholder="420" class="w-full input input-bordered" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <label class="form-control w-full">
      <div class="label">
        <span class="text-base label-text" for="{{ fbl_auth_form.dob.id_for_label }}">{% trans 'Date of Birth' %}</span>
      </div>
      <input type="text" x-mask="99/99/9999" name="dob" placeholder="DD/MM/YYYY" class="w-full input input-bordered">
    </label>
    <div class="flex justify-end mt-6">
      <button type="submit" class="btn btn-accent mb-4">{% trans 'Log In with FBL' %}</button>
    </div>
  </form>
  {% if general_login %}<div class="divider">{% trans "I don\'t have a seat for this years FBL" %}</div>{% endif %}
{% endblock %}