<!-- templates/core/account_finish.html -->
{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="flex flex-col w-full max-w-xl mx-auto h-full min-h-screen justify-center">
  <div class="p-4">
    <div class="mb-4">
    {% include 'partials/logo.html' with responsive=False %}
    </div>
    <h1 class="text-3xl font-bold p-2">{% trans 'Register a new account' %}</h1>
    <div class="bg-base-200 rounded p-8">
        <ul class="steps w-full mb-6">
            <li class="step step-accent">{% trans 'Authenticate' %}</li>
            <li class="step step-accent">{% trans 'Set up account' %}</li>
            <li class="step step-success">{% trans 'Done' %}</li>
          </ul>
      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div role="alert" class="alert alert-error mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:block stroke-current shrink-0 h-6 w-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10l4 4m0 -4l-4 4" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
          <span>{{ form.non_field_errors }}</span>
        </div>
        {% endif %}

        <div>
          <label class="label">
              <span class="text-base label-text" for="{{ form.username.id_for_label }}">{% trans 'Username' %}</span>
          </label>
          {{ form.username }}
        </div>
        <div class="flex justify-end mt-4">
          <button type="submit" name="account_finish" class="btn btn-success">{% trans 'Save' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}