<!-- templates/core/settings.html -->
{% extends 'dashboard_base.html' %}
{% block dashboard_content %}
{% load i18n %}
{% load filters %}
<div class="w-full max-w-4xl mx-auto p-8">
    <h1 class="text-2xl font-bold mb-4">{% trans 'Settings' %}</h1>
    <form method="post" enctype="multipart/form-data" class="flex flex-col gap-2">
        {% csrf_token %}
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{% trans 'Mail Address' %}</legend>
            {% if request.user.googlessouser %}
            {{ form.email|add_attr:'class:input  w-full input-disabled,readonly:' }}
            {% else %}
            {{ form.email }}
            {% endif %}
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">{% trans 'Language' %}</legend>
          {{ form.language }}
        </fieldset>

        <fieldset class="fieldset">
          <label class="label cursor-pointer flex flex-row gap-2 justify-between items-center">
            <span class="font-semibold text-base text-base-content" for="{{ form.use_darkmode.id_for_label }}">{% trans 'Use Darkmode' %}</span> 
            {{ form.use_darkmode }}
          </label>
        </fieldset>
        <fieldset class="fieldset">
          <label class="label cursor-pointer flex flex-row gap-2 justify-between items-center">
            <span class="font-semibold text-base text-base-content" for="{{ form.receive_email_notifications.id_for_label }}">{% trans 'Receive Email Notifications' %}</span> 
            {{ form.receive_email_notifications }}
          </label>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">{% trans 'Profile Picture' %}</legend>
          {{ form.profile_picture }}
        </fieldset>

        <div>
          <h2 class="text-xl font-semibold mt-8 mb-2">{% trans 'Contact' %}</h2>
          <fieldset class="fieldset">
          <label class="input w-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 opacity-70" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" /></svg>
            {{ form.telegram_username }}
            </label>
          </fieldset>
        </div>
        <div class="flex justify-end items-center mt-4">
            <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
        </div>
    </form>
</div>
{% endblock %}