<!DOCTYPE html>
{% load static %}
<html lang="en"{% if request.user.is_authenticated %}{% if request.user.use_darkmode %} data-theme="dark"{% else %} data-theme="light" {% endif %}{% else %} data-theme="light" {% endif %}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/paw.css' %}?v={{ website_version }}" rel="stylesheet">
  <title>paw</title>
</head>
<body>
  <div class="container h-full min-h-screen mx-auto flex flex-col w-full">
    <div class="navbar">
      <div class="navbar-start">
        <a class="" href="/">{% include 'partials/logo.html' with responsive=False %}</a>
      </div>
      <div class="navbar-center"></div>
      <div class="navbar-end">
        <a class="btn mr-4" href="{% url 'all_tickets' %}">Tickets</a>
        <a class="btn mr-4" href="{% url 'incident-list' %}">Status</a>
        {% if not request.user.is_authenticated %}
        <label class="swap swap-rotate">
          <input type="checkbox" id="theme-switch" />
          <svg  xmlns="http://www.w3.org/2000/svg" class="swap-on stoke-current w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="swap-off stoke-current w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
        </label>
        <script src="{% static 'js/theme_switch.js' %}"></script>
        {% endif %}
      </div>
    </div>
    <div class="flex-grow flex">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer w-full flex justify-end p-2">
      <p class="text-sm text-base-content">v{{ app_version }}</p>
    </div>
  </div>
</body>
</html>
